body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(#0044ff, #00227e, #000c2c);
  width: 99%;
  height: 100%;
  -webkit-scrollbar-track: #000;
}
#headerContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
header {
  background-color: #faebd7;
  padding: 20px;
  text-align: center;
  width: 98%;
}
header img {
  padding: 0 0 0 15px;
}
ul {
  margin: 5px 4px;
  padding: 0 0 0 16px;
  list-style-type: none;
}
li {
  display: inline;
  margin: 0 5px;
}
a {
  text-decoration: none;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
}
section {
  padding: 20px;
}
h1 {
  margin: 0 20px;
  color: #fff;
  font-family: "Host Grotesk", sans-serif;
  font-weight: 500;
  font-size: 48px;
}
#logosite {
  width: 25%;
  margin: 20px 25px 10px 10px;
}
p {
  margin: 0 20px;
  color: #fff;
  font-family: "DM Sans", sans-serif;
}
#portifolio {
  margin: 0;
  padding: 0;
}
.exemplos img {
  margin: 15px auto;
  width: 412px;
  height: 520px;
  border-radius: 20px;
}
.exemplos img:hover {
  transition: 400ms;
  border: 3px solid #fff;
  transform: scale(1.05);
}
.exemplos {
  margin: 15px auto;
  width: 412px;
  height: 535px;
  display: inline-block;
  margin: auto 14px;
}
footer {
  margin: 20px 0 0 0;
  background-color: #f5f5dc;
  color: #000;
  text-align: center;
  width: 101%;
}
footer h1 {
  color: #000;
  padding: 15px 0 10px 0;
  font-size: 36px;
}
footer p {
  font-family: "DM Sans", sans-serif;
  color: #000;
  padding: 10px 0 15px 0;
}
footer img {
  padding: 0 7px 0 7px;
}
@media (min-width: 480px) and (max-width: 1920px) {
  body {
    width: 99%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  header{
    width: 96%;
  }
  #sobre{
    text-align: left;
  }
  #logosite {
    width: 55%;
  }
  footer{
    width: 100vw;
  }
  #portifolio p{
    padding: 10px 0 10px 0;
  }
}
